<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System Settings</title>
</head>
<body>
<h1>System Settings</h1>
<form th:action="@{/admin/settings/update}" method="post">
    <label for="appName">Application Name:</label>
    <input type="text" id="appName" name="appName" th:value="${appName}" />
    <br/>

    <label for="maxUsers">Max Users:</label>
    <input type="number" id="maxUsers" name="maxUsers" th:value="${maxUsers}" />
    <br/>

    <button type="submit">Save Changes</button>
</form>
</body>
</html>