@charset "UTF-8";
@import "global";

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  @include flex(column, space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c1b5a3;
  color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  align-items: center;
  z-index: 1000;
  height: 4rem; // 헤더 높이 고정
  white-space: nowrap;

  .logo-ul,
  .menu,
  .user-name {
    position: absolute; // 위치를 고정하기 위해 절대 위치 사용
    top: 0;
    display: flex;
    align-items: center;
    height: 4rem; // 각 요소의 높이를 헤더 높이에 맞춤
  }

  .logo-ul {
    left: 1rem; // 왼쪽에 고정
    width: 10rem;

    .item:first-child {
      img {
        height: 4rem; // 헤더 높이에 맞는 크기
        cursor: pointer;
      }
    }
  }

  .menu {
    left: 50%;
    transform: translateX(-50%); // 중앙에 고정
    width: 40rem;
    justify-content: center;
    align-items: center;

    .stretch {
      display: flex;
      justify-content: center;
      align-items: center;

      .form {
        display: flex;
        width: 100%;
        max-width: 40rem;
        color: #ffffff;
        gap: 0.4rem;

        .keyword-label {
          gap: 1rem;
          display: flex;
          align-items: center;
          padding: 0 3rem 0 1rem; // 오른쪽 패딩 추가하여 아이콘과 간격 확보
          border: 0.0625rem solid #ccc;
          border-radius: 700px;
          transition: border-color 0.3s ease;
          width: 100%;
          position: relative; // SVG 아이콘을 절대 위치로 배치하기 위해 필요

          .field {
            > option {
              color: #000000;
            }
          }

          &:focus-within {
            //border-color: #e1e1e1;
            border: 0.125rem solid #e1e1e1;
          }

          .input {
            flex-grow: 1;
            width: 33rem;
            height: 2.5rem;
          }

          .submit-button {
            position: absolute;
            right: 0.8rem; // 아이콘이 입력 필드 내부 오른쪽에 정렬됨
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;

            svg {
              width: 1.5rem;
              height: 1.5rem;
              transition: fill 0.3s ease;

              &:hover {
                fill: #955c5c;
                scale: (105%);
              }
            }
          }
        }
      }
    }
  }

  .user-name {
    right: 1rem; // 오른쪽에 고정
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem; // 각 요소의 높이를 헤더 높이에 맞춤
    gap: 0.0625rem;

    .--obj-button {
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      padding: 0.325rem 0.225rem 0.325rem 0.225rem;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #584f47;
      }
    }

    .name {
      display: flex;
      align-items: center;
    }

    #notificationContainer {
      position: relative;
      display: inline-block;
      width: 55%;
      height: 55%;

      #notificationBell {
        font-size: 24px;
      }

      #notificationDropdown {
        z-index: 1000;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }

      #alertMessageDiv {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 25rem;
      }

      #alertMessageDiv * {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #eee;
        font-size: 0.8rem;
      }

      #alertMessageDiv *:last-child {
        border-bottom: none;
      }
    }
  }
}

.nav {
  position: relative;
  top: 3rem; // 헤더 아래에 네비게이션 바를 위치시키기 위해 마진 추가
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    a {
      color: gray;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        color: darken(gray, 20%);
      }

      &:active {
        color: darken(gray, 20%);
      }
    }
  }
}

.hidden {
  display: none;
}

/* 카드 그리드 */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열로 구성 */
  margin: 10rem;
  gap: 3rem;
  background-color: #f9f9f9;

  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    h3 {
      padding: 10px;
      font-size: 1.2rem;
      background: #f7f7f7;
    }
  }
}

/* 푸터 */
footer {
  background: #C1B5A3;
  text-align: center;
  padding: 20px 0;
  width: 101%;
  margin-top: auto;

  p {
    margin: 5px;
    color: black;
  }
}


