<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/board/styles/faveBoard.css">
    <link rel="stylesheet" href="/admin/styles/common.css">
    <script src="/board/scripts/faveBoard.js"></script>
    <link rel="shortcut icon" th:href="@{'/images/favicon.png'}">

    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index/header.css">
    <script type="text/javascript" src="/assets/scripts/common.js"></script>
    <script defer type="text/javascript" src="/assets/scripts/index.main.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

    <script defer src="/path/to/websocket.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>


    <title>올해 축제</title>
</head>
<body>
<th:block th:replace="~{home/index.main :: header}"></th:block>
<th:block th:replace="~{home/index.main :: cover}"></th:block>
<th:block th:replace="~{home/index.main :: loginMain}"></th:block>
<div class="empty" th:if="${fave == null || fave.length == 0}">
    해당 축제는 없습니다.
    <!-- 목록으로 버튼 추가 -->
    <div class="back-button-container" th:if="${fave == null || fave.length == 0}">
        <a class="back-button" th:href="@{'/fave/'}">목록으로</a>
    </div>
</div>

<main id="list">
    <div class="grid-container">
        <div class="grid" th:each="fave : ${fave}">
            <!-- 로그인 사용자 -->
            <a th:if="${#authorization.expression('isAuthenticated()')}"
               th:href="@{'/fave/read/?index=' + ${fave.index}}">
                <img class="img"
                     th:src="@{'/fave/image?index=' + ${fave.index}}"
                     alt="">
            </a>
            <!-- 비로그인 사용자 -->
            <a th:unless="${#authorization.expression('isAuthenticated()')}"
               th:href="@{'/fave/read/?index=' + ${fave.index}}">
                <img class="img"
                     th:src="@{'/fave/image?index=' + ${fave.index}}"
                     alt="">
            </a>
            <span th:text="${fave.getTitle()}"></span>
        </div>
    </div>

    <!-- 페이지 목록 숨기기 -->
    <div class="page-container" th:if="${fave != null && fave.length != 0}">
        <a class="page"
           th:each="page : ${#numbers.sequence(page.displayMinPage, page.displayMaxPage)}"
           th:text="${page}"
           th:href="@{'/fave/' (page=${page})}"></a>
    </div>
</main>



<th:block th:replace="~{home/index.main :: footer}"></th:block>
</body>
</html>
