<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${fave.getTitle()}"></title>
    <link rel="shortcut icon" th:href="@{'/images/favicon.png'}">
    <link href="/board/styles/faveRead.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3a292de2c208474fb8fc896f87e4674b&libraries=services"></script>
    <script src="/board/scripts/faveRead.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index/header.css">
    <script type="text/javascript" src="/assets/scripts/common.js"></script>
    <script defer type="text/javascript" src="/assets/scripts/index.main.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

    <script defer src="/path/to/websocket.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
</head>
<body>
<th:block th:replace="~{home/index.main :: header}"></th:block>
<th:block th:replace="~{home/index.main :: loginMain}"></th:block>
<th:block th:replace="~{home/index.main :: cover}"></th:block>
<main id="read">
    <div class="container">
        <div class="post">
            <div class="title" th:text="${fave.getTitle()}"></div>
            <div class="meta-like-container">
                <span class="meta"
                      th:text="'작성일 : ' + ${#temporals.format(fave.getCreatedAt() , 'yyyy-MM-dd')} + ' | 조회수 : ' + ${fave.getView()}"></span>
                <span class="meta" th:text="'축제 일정 : ' + ${fave.getStartDate()} + ' ~ ' + ${fave.getEndDate()}"></span>
                <span class="meta" th:text="'축제 위치 : ' + ${fave.getLocation()}"></span>
                <!-- 좋아요 버튼 및 이미지 (로그인한 사용자만 볼 수 있음) -->
                <a class="likeButton" href="#" target="_self" id="likeButton" th:data-user-email="${userEmail}"
                   th:data-festival-id="${fave.index}">
                    <!-- 좋아요 이미지 -->
                    <img th:if="${isLiked}"
                         width="24" height="24"
                         src="https://img.icons8.com/fluency-systems-filled/48/like.png"
                         alt="like-filled" />
                    <img th:if="${!isLiked}"
                         width="24" height="24"
                         src="https://img.icons8.com/material-outlined/48/like--v1.png"
                         alt="like-outline" />
                </a>
                <a id="error-message" th:if="${errorMessage}" class="error-message" th:text="${errorMessage}" th:href="@{'/'}" onclick="location.reload(); return false;"></a>
            </div>
        </div>
        <div class="content">
            <div th:utext="${fave.getDescription()}"></div>
        </div>
        <div id="map" style="width:100%;height:15rem;"></div>
    </div>
    <div class="button-container">
        <a class="button" th:href="@{'/fave/'}" target="_self">목록으로</a>
    </div>
</main>
<th:block th:replace="~{home/index.main :: footer}"></th:block>
</body>
</html>
