<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/board/styles/faveBoard.css">
    <link rel="stylesheet" href="/admin/styles/common.css">
    <script src="/board/scripts/faveBoard.js"></script>
    <link rel="shortcut icon" th:href="@{'/images/favicon.png'}">
    <link rel="stylesheet" type="text/css" href="/board/styles/common_cy.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index/header.css">

    <script defer type="text/javascript" src="/assets/scripts/common.js"></script>
    <script defer type="text/javascript" src="/assets/scripts/index.main.js"></script>


    <title>Document</title>
</head>
<body>
<div th:insert="~{home/index.main.html :: header}"></div>
<br>
<main id="main">
    <br><br>
    <br><br>

    <div class="grid-container">
        <div class="empty" th:if="${fave == null || fave.length == 0}">
            <span>해당 축제는 없습니다.</span>
        </div>
        <div class="grid" th:each="fave : ${fave}" >
            <a th:href="@{'/fave/read/' (index=${fave.getIndex() })}">
                <img class="img" th:src="@{'/fave/image' (index=${fave.getIndex()})}" alt="">
            </a>
            <span th:text="${fave.getTitle()}"></span>
        </div>
    </div>
    <div class="page-container">
        <a class="page"
           th:each="page : ${#numbers.sequence(page.displayMinPage, page.displayMaxPage)}"
           th:text="${page}"
           th:href="@{'/fave/' (page=${page})}"></a>
    </div>
</main>




</body>
</html>