<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        const url = new URL(location.href);
        if (url.searchParams.get('error') === 'oauth2IdNotFound') {
            alert('이 이메일은 이미 사용 중이다');
            if (history.length > 1) {
                history.back();
            } else {
                window.close();
            }
        }
    </script>
</head>
</html>