<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>축제 잇슈</title>
    <link rel="shortcut icon" th:href="@{'/images/favicon.png'}">
    <link href="/assets/styles/common_sm.css" rel="stylesheet" type="text/css">
    <link href="/inquiries/assets/styles/read_sm.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:if="${article == null || article.getIsDeleted() != null}">
        alert('존재하지 않는 게시글입니다. 주소를 다시 확인해 주세요.');
        history.back();

    </script>
    <script defer src="/article/assets/scripts/read.js" type="text/javascript"
            th:if="${article != null && article.getIsDeleted() == null}"></script>
</head>
<body th:if="${article != null && article.getIsDeleted() == null}">
<div th:insert="~{common/common.html :: header_copy}"></div>
<div id="cover"></div>
<form id="deleteDialog">
    <span class="message">정말로 삭제하시겠습니까?</span>
    <input type="hidden" name="index" th:value="${article.getIndex}">
    <input name="commentIndex" type="hidden">
    <input type="hidden" name="mode">
    <div class="button-container">
        <button class="--obj-button -button_color" type="submit">확인</button>
        <button class="--obj-button -button_color" name="cancel" type="button">취소</button>
    </div>
</form>
<main id="main">
    <div class="container">
        <div class="post">
            <div class="title" th:text="${article.getTitle()}">게시글 제목</div>
            <a class="meta"
               th:text="'작성자: ' + ${article.getUserNickname()} + ' | 작성일: ' + ${#temporals.format(article.getCreatedAt, 'yyyy-MM-dd')} + ' | 조회수: ' + ${article.getView()}">>작성자:
                사용자 | 작성일: 2024-12-06 | 조회수: 123</a>
        </div>
        <div class="content">
            <div th:utext="${article.getContent()}">
                여기에 게시글 내용을 입력하세요. 게시판은 사용자 간의 커뮤니케이션을 위한 중요한 플랫폼입니다.
            </div>
        </div>
        <div class="button-container">
            <!-- 답변하기 버튼 -->
            <button class="button report" type="button" th:if="${isAdmin}"
                    th:onclick="|location.href='/mail/send?index=${article.getIndex()}'|">
                답변하기
            </button>
            <div class="button_list">
                <a th:href="@{'/inquiries/list'}" target="_self"
                   class="button_list button back write --obj-button -button_color">목록으로</a>
            </div>
            <button name="modify" class="button modify" type="button">수정</button>
            <button name="delete" class="button delete" type="button">삭제</button>
        </div>
    </div>
            <!-- 목록으로 버튼 -->
            <div class="button_list">
                <a th:href="@{'/inquiries/list'}" target="_self" class="button back write --obj-button -button_color">
                    목록으로
                </a>
            </div>

            <!-- 수정 버튼 -->
            <div>
                <button name="modify" class="button modify" type="button"
                        th:if="${#authentication.principal.email == article.getUserEmail() || isAdmin}">
                    수정
                </button>
            </div>

            <!-- 삭제 버튼 -->
            <div>
                <button name="delete" class="button delete" type="button"
                        th:if="${#authentication.principal.email == article.getUserEmail() || isAdmin}">
                    삭제
                </button>
            </div>
        </div>
</main>
</body>
</html>
