@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #fdfaf5;
  color: #1A1A24;
  margin: 0;
  padding: 0;
}

.empty {
  text-align: center;
  margin-top: 3rem;
  padding: 1.5rem;
  //background-color: #faf8f5;
  //border: 1px solid #ddd;
  border-radius: 0.5rem;
  color: #777;
  //font-size: 1.2rem;
  font-weight: 500;
  min-height: 60vh;

    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 0.75rem 1.5rem;
    //background-color: #fff;
    //border: 1px solid #ddd;
    //border-radius: 0.5rem;
    font-size: 6rem;
    width: 100%;
    height: 100%;

  .back-button-container {
    //margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;

    .back-button {
      padding: 0.5rem 1rem;
      background-color: #c1b5a3;
      color: #ffffff;
      text-decoration: none;
      border-radius: 0.3rem;
      font-weight: bold;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: background 0.2s, transform 0.2s;
      font-size: 1.25rem;

      &:hover {
        background-color: #a99988;
        transform: translateY(-2px);
        text-decoration: none;
      }
    }
  }
}

#list, #faveMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;

  > .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    justify-items: center;

    > .grid {
      width: 100%;
      max-width: 300px;
      height: auto;
      font-size: 0.9rem;
      background: #fff;
      border-radius: 0.75rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      text-align: center;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-5px);
      }

      > a {
        text-decoration: none;
        display: block;

        > .img {
          width: 100%;
          height: 21rem ;
          border-radius: 0.5rem;
          object-fit: cover;
        }
      }

      > span {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        color: #1A1A24;
        margin-top: 0.5rem;
      }
    }
  }

  > .page-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    gap: 0.5rem;
    margin-top: 1.5rem;

    > .page {
      padding: 0.5rem 1rem;
      background-color: #c1b5a3;
      color: #ffffff;
      text-decoration: none;
      border-radius: 0.3rem;
      font-weight: bold;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: background 0.2s, transform 0.2s;

      &:hover {
        background-color: #a99988;
        transform: translateY(-2px);
        text-decoration: none;
      }
    }
  }
}
